---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Body text */
body {
  font-family: "Inter", sans-serif !important;
}

/* Headings: h1, h2, h3, h4, h5, h6 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif !important;
  font-weight: 600; /* bolder for engineering vibe */
}

